---
import image from "../../assets/onboard_big_logo.svg"
import { Image } from "astro:assets";
import Button from "./button.astro"
---

<nav class="bg-secondary md:bg-transparent sticky top-0 z-1">
    <div class="mx-auto max-w-full px-2 md:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
          <!-- Mobile menu button-->
          <Button class="relative inline-flex items-center justify-center bg-transparent text-black rounded-md px-1.5 py-1.5 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" id="mobile-menu-button" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </Button>
        </div>
        <div class="flex flex-1 items-center justify-center md:items-stretch md:justify-start w-full">
          <div class="flex flex-shrink-0 items-center">
            <a href="/" aria-label="Home" >
                <Image width={125} height={21} src={image} alt="OnBoard" format="avif" quality="mid" >
            </a>
          </div>
          <div class="hidden md:ml-6 md:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <Button href="#" variant="link" class="text-slate-800 hover:text-olive-500" >Features</a>
              <Button href="#" variant="link" class="text-slate-800 hover:text-olive-500" >Resources</a>
              <Button href="#" variant="link" class="text-slate-800 hover:text-olive-500" >Why OnBoard?</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 hidden md:flex md:static md:inset-auto md:ml-6 md:pr-0">
          <Button variant="link" href={`${import.meta.env.APP_URL}/signin`} >Sign In</Button>
          <Button variant="contained" href={`${import.meta.env.APP_URL}/signup`} class="ml-3" >Sign Up</Button>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden md:hidden bg-secondary absolute w-full" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2 flex flex-col">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <Button href="#" variant="contained" class="w-full bg-transparent text-slate-800">Features</Button>
        <Button href="#" variant="contained" class="w-full bg-transparent text-slate-800">Resources</Button>
        <Button href="#" variant="contained" class="w-full bg-transparent text-slate-800">Why OnBoard?</Button>
        <div class="grid grid-cols-2 items-center" >
          <Button variant="link" href={`${import.meta.env.APP_URL}/signin`} class="text-center border-r-2" >Sign In</Button>
          <Button variant="contained" href={`${import.meta.env.APP_URL}/signup`} class="ml-3 text-center" >Sign Up</Button>
        </div>
      </div>
    </div>
  </nav>
<script>
  const toggleMobileMenu = () => {
    const mobileMenu = document.getElementById("mobile-menu");
    mobileMenu?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("block");
  }
  document.getElementById("mobile-menu-button")?.addEventListener("click", toggleMobileMenu);
</script>
  